{% load bootstrap4 %}
{% load fontawesome %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dumbo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    {% fontawesome_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/style.css' %}">
</head>
<body class="foody">
    <div class="bg"></div>
    <nav class="navbar navbar-light mb-3 bg-light">
        <a class="navbar-brand" href="#"><i class="fa fa-cookie-bite"></i>
        </a>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 font-weight-bold">NutriGuide</h1>
            <p class="lead">Maximum performance with minimum effort!</p>
        </div>
        <div class="card-deck">
            {% for card in cards %}
            <div class="card text-white bg-{{ card.colour }} mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                    <p class="card-text text-center"><i class="fa {{ card.icon }} fa-5x"></i></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer container-fluid text-right">
            <span class="text-light">Image source: <a class="text-light" href="https://hosbeg.com/10-important-tips-for-maintaining-a-healthy-lifestyle/">hosbeg.com</a></span>
    </footer>

    {% bootstrap_javascript jquery='full' %}
</body>
</html>