{% extends "NutriGuide/layout.html" %}

{% block content %}
    <div class="container shaded">
        <h1>Settings</h1>
        <div class="row">
            <div class="col-4">
                <form method="POST" class="profile-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}